SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ raspberry_pi_foundation_adapter_oui }}:*", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ panda_wireless_adapter_oui }}:*", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan1"