[Unit]
Description=BAAAHS Lights
After=multi-user.target

[Service]
Type=Simple
User=baaahs
WorkingDirectory=/home/{{baaahs_primary_username}}/{{baaahs_git_install_local_dir}}
ExecStart=/usr/bin/python /home/{{baaahs_primary_username}}/{{baaahs_git_install_local_dir}}/go.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target