
hhhhhhhhhhhhhhhhhhhhhhhhhhdhyoo/::-::::+yhdmNNmmddddddddddmmm
dddddddhhhhssossyhhhhhhy+//:::::--::::----:+ydmmddhhhhhhhhddd
ddddddddho-----::-:/oo/:----------::::-------::oydddddddddddd
hhhhddhhhy/.---:///:--:--------::::--:----------:+o+:::--:/oy
hyyyyyyhhhhyo:.--:/+/:::--------:::-::--:::------:/o+//::::-:
yyyyyyyhhdddhhyo/--:////----------...--:::-...-:::://::-..:oh
yyyyyhhhhhhhhhhyhhyo/////sh-`...``````...`.::.:://::--:+shddd
yyyyyhhhhyyssyssyys//::::-:....````````.``+ds////osyhhhhhhhhh
/sssyyyyyyyyysssyo/::::::.``-..```````....`.-:::/ssyyyyyyyhhy
----::/oooossssso/::------..-..``````....``.::::/osssysssyyys
--------------:::::::-------.```` ````..-.-----::/ssyyssyysss
------------::::::::--------..````````..--------:/oyyyyyhhyyy
----------::::::::::----.----.-`.````..----..--::/syyyyhhhhyy
---.-------::::::/:::------:-:yhs//oo-.---..--:://oyssssyyyyy
--------:--:::::////::----::-..+hds/.`-------:://+sssssssyyyy
------:----:::::::///:://///:::/oy/:--:::::::://+ssyyyyyyyyss
-----::-::::::::::////////+++/:////:://////:/+/+sssyyyyyyyyys
--:-----::::/::::://////////+oooo++++//::://+++osssyssssssyss
-::-::--::::::////:///////::::/++++//::::://///osssssssssyyyy
--::::::::::/:///////:///////:/:::/:://:/:///:/ooooossoosssss
