
BAAAHS Lights Server

View the readme.txt for additional information on the lighting infrastructure.

If you're unsure of what you should be doing on this server or in general have any questions please contact one of the BAAAHS light infrastructure team members.