 ____    ____   ____   ____   ____  __ __  _____     _      ____   ____  __ __  ______  _____
|    \  /    | /    | /    | /    ||  |  |/ ___/    | |    |    | /    ||  |  ||      |/ ___/
|  o  )|  o  ||  o  ||  o  ||  o  ||  |  (   \_     | |     |  | |   __||  |  ||      (   \_
|     ||     ||     ||     ||     ||  _  |\__  |    | |___  |  | |  |  ||  _  ||_|  |_|\__  |
|  O  ||  _  ||  _  ||  _  ||  _  ||  |  |/  \ |    |     | |  | |  |_ ||  |  |  |  |  /  \ |
|     ||  |  ||  |  ||  |  ||  |  ||  |  |\    |    |     | |  | |     ||  |  |  |  |  \    |
|_____||__|__||__|__||__|__||__|__||__|__| \___|    |_____||____||___,_||__|__|  |__|   \___|


hhhhhhhhhhhhhhhhhhhhhhyyhhhhhhhyyyyyhhhhddddhyy+///:::::/:/+odmmmNNNNNmmmddddddddddddmmmmmmmN
hhddhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhyhyo+:/::::-:--------::::/+sdmmmmmmddhhhhhhhhhhhddddddd
dddddddddddhhhhhysoooooosyyhhhhhhhhyo/::-::::::::---:::::-:------:/+hdmmmmddhhhhhdhhhhhhhdddd
ddddddddddddhhs:..---------::+shhs+/-------------:-::::::::---------://ohdddddddddddddddddddd
dddddddddddhhhs-.--:::::///::---:::----:-------::--:::::-:--------------:/odddddhyyyyyyyhddmm
hhhhhhdddhhhhhyo:...----:////:::-:::---------:-:::-:::---:----------------:/o+/----------:+sh
hhhhhhhhhyhhhhhhys/-...--:///+/::::::----------:::-:::-:-:----:-:----------:::++/:::::::::--:
yyyyyyyyyyyhhhhhhhhyo/-..--:/+++/::::-----------::-::-::::::::::::--..-----:/++++/::::::----o
yyyyyyyyyyyhhhdddhhhhyyo/:--:://+////-.:---::-------....---:::::--....-:::::::///:::--..-:oyh
yyyyyyyyhhyyhhhdddhhhhhhhyyo+////////:sys-...-...````````..----.......-::://///::-----/oyhhdd
yyyhhyyyhhhhhhhhhhhhhyyyyhhhhs+/////++/hd+.``...```````````...``.:os:./////:::::://oyhddddddh
yyyyhyyhhhhhhhyyyssyyyssyyhhs+//::::/:-::-.``...```````````..```:ddh+/////+sssyhhhhddhhhhdhhh
ssyyyyyyyyyyyyyyyyssssssyyss/:::::-:::-.``......``````````.......:+::/:://+ssyyhhhhhhhyyhhhhh
:/ooossssyyyyyyyyyyyssssyyo/::::-:--::-.``.-....`````````....--```.-::::::+sssyyyyyyyyyyyhhhy
---::::::+ossssossysssssso/::::--------..`.-...``````````....-````.::::--:+ssssyyysssssyyyyyy
-----------:::::/+++//oo+/:::::------------..``````  ````....-.`..---:::::/+ossssysssssssssss
--::------------------::::::::::-----------..``````````````..--..--------://osyysyssssyyyssss
---------.---------::::::::::::------------..````````````....------------://+syyyyyyyyhhyyyss
--------------.--::::::::::/:::-----.------...```````````....----------::::/+yyyyyyyhhhhhhyyy
-------.-------::::::::::/:::::------.------.--.`....```....------..----:://+yyyyyyyyyyyhhyyy
-----..-------:-:::::::::::::::::----.---:---+yy+/:-::/+:.------...----::://+syysssyyyyyyyyyy
-----------------:::::::://///::---------::..-ohddysosyo:..-----..-----:///+osssoooosssyyyyyy
----------:-:---:::::::::://///::-------::/-...:oydhs+:.`.-----------::://++oosssssssssyyyyyy
---------:-::::--:://:::::://///::::::::::/:-.-:/odo/:....-----:-:-:::////+ssssyyyyyyyyyyysss
------:--:---:--::::::::::://////:://///////::/+ooyo+/::--::::::::::::/+++osssyyyyyyyyyyyyyss
--------::-::::-::::::::::::////////////++++/::/++++//:-:////////:::/+//+osssyyyyyyyyyyyyyyss
------------:::::::::::::::///+//////////++ooo+///::::/++////////////++/+sssssyssssssssssssss
--:::---:-:---:/:::/::::/://://///////:::://+osssssoooo+////:::::://+/++ossssyyysssssssyyyyyy
-:::--:-:---:::::::::://://:::////++/:/:::::://+o+oo++///:::::::://////+sssssssyssssssyyyyyyy
--::::::-:-:::-::::/:///////://////+//////::::::/::://:::/:::/::////////osssssssssssssssssssy
::---::::-:-::::::/:://:////////:://////+///::/::::::/::://////://::::/+oo+ooosossooooossssss

