[Unit]
Description=BAAAHS White Out
After=multi-user.target olad.service

[Service]
User=baaahs
WorkingDirectory={{baaahs_white_out_install_dir}}
ExecStart={{baaahs_white_out_install_dir}}/go.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target