[Unit]
Description=BAAAHS OSC Layout Server
After=multi-user.target

[Service]
User=baaahs
WorkingDirectory=/home/{{baaahs_username}}/{{baaahs_layout_server_install_dir}}
ExecStart=/usr/bin/python /home/{{baaahs_username}}/{{baaahs_layout_server_install_dir}}/go.py --layout "{{baaahs_layout_server_layout_file}}"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target