[Unit]
Description=BAAAHS Lights

[Service]
User=baaahs
WorkingDirectory={{baaahs_lights_install_dir}}
ExecStart={{baaahs_lights_install_dir}}/go.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target