[Unit]
Description=BAAAHS Lights
After=multi-user.target olad.service

[Service]
User=baaahs
WorkingDirectory=/home/{{baaahs_username}}/{{baaahs_lights_install_dir}}
ExecStart=/usr/bin/python /home/{{baaahs_username}}/{{baaahs_lights_install_dir}}/go.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target