# Use interface wlan1
interface=wlan1

#Explicitly specify the address to listen on 
listen-address={{ rpi_wlan_interface_ip }}

# Bind to the interface to make sure we aren't sending things elsewhere 
bind-interfaces

# Don't forward short names 
domain-needed

# Never forward addresses in the non-routed address spaces. 
bogus-priv

# Assign DHCP IP addresses
dhcp-range={{ rpi_wlan_first_dhcp_ip }},{{ rpi_wlan_last_dhcp_ip }},1h